#!/usr/bin/env bash

curl -sfL https://get.k3s.io | sh -s - server \
    --server=https://{{ ansible_host }}:6443 \
    --token={{ lookup('ansible.builtin.file', '../output/k3s_token') }} \
    --cluster-cidr=10.42.0.0/16,2001:cafe:42:0::/56 \
    --service-cidr=10.43.0.0/16,2001:cafe:42:1::/112 \
    --disable=local-storage \
    --node-external-ip=EXTERNAL_IP \
    --flannel-external-ip \
    --etcd-disable-snapshots
